﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DeshBoard.aspx.cs" Inherits="ASPWebApplication.DotNetFramWork.Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div style="height: 65px">
            Welcome&nbsp;
            <asp:Label ID="lblUserName" runat="server"></asp:Label>
        </div>
    </form>
</body>
</html>
